/* debugging
* {
  border: 1px solid #c51f5d;
  margin: 4px;
  padding: 5px;
} */

/* currently color palette:
    - Night Mode Twitter
    - https://www.color-hex.com/color-palette/55334
*/
:root {
  --background: #141d26;
  --tile: #243447;
  --tile2: #243447;
  --accent: #c51f5d;
  --text: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.title {
  margin: 8px 8px 32px 8px;
  font-size: 48px;
  text-align: center;
}

.subtitle {
  color: var(--accent);
  font-size: 36px;
  text-align: center;
  margin-bottom: 5vh;
  text-decoration: underline;
}

.h-divider {
  margin: 3vh 2vw 1vh 2vw;
  color: var(--tile);
}

.v-divider {
  border-left: 2px solid var(--tile);
  height: 8vh;
  width: 1px;
}

.heading {
  font-size: 28px;
  text-align: center;
  margin-bottom: 1.5vh;
}

.decision {
  font-size: 24px;
  text-align: center;
}

footer {
  display: flex;
  background-color: var(--tile);
  height: 3vh;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.page {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.results, .score {
  justify-content: center;
  align-content: stretch;
}

.player, .cpu {
  margin: 0 5vw 0 5vw;
}

.box {
  margin: 10px;
  flex-basis: 33%;
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.box:hover {
  background-color: var(--tile);
}

.option {
  max-width: 95%;
  max-height: 95%;
}

.cpu_score, .player_score {
  margin: 0 8vw 0 8vw;
  text-align: center;
  font-size: 52px;
}

.game-results {
  margin-top: 2vh;
  margin-left: 2vw;
  text-align: center;
  font-size: 32px;
}

.cpu_output, .player_output {
  text-align: center;
}
